# Quantile Tests

Illustrates the various problems with quantiles and shows that the `Aggregate` and `Portfolio` classes handle them correctly.

In [1]:
import sys
sys.path.append("c:\\s\\telos\\python\\aggregate_project")
sys.path.append("c:\\s\\telos\\python\\aggregate_extensions_project")

import aggregate as agg
import aggregate_extensions as agg_ext
import aggregate_extensions.allocation as aea

import numpy as np
import matplotlib.pyplot as plt
# from matplotlib.ticker import MultipleLocator, FormatStrFormatter, StrMethodFormatter, FuncFormatter, \
#                                AutoMinorLocator, MaxNLocator, NullFormatter, FixedLocator, FixedFormatter
import pandas as pd
# from jinja2 import Template
# import seaborn as sns
from IPython.core.display import HTML
import itertools
# sns.set('paper', 'ticks', 'plasma', 'serif')
# sns.set_palette('muted', 8)
%config InlineBackend.figure_format = 'svg'
pd.set_option('display.max_rows', 500)
# pd.set_option('display.max_cols', 500)

# https://github.com/matplotlib/jupyter-matplotlib
%matplotlib widget
# %matplotlib

from importlib import reload

import logging
aggdevlog = logging.getLogger('aggdev.log')
aggdevlog.setLevel(logging.INFO)
print(agg.__file__)

# print(agg.__file__, agg.__version__)
# import os
# print(os.environ['CONDA_DEFAULT_ENV'])
# print(os.getcwd())
# x = !dir *.ipynb

c:\s\telos\python\aggregate_project\aggregate\__init__.py

In [2]:
uw = agg.Underwriter(update=False, create_all=False)
port = uw('''
port tester
    agg Athin  1 claim sev dhistogram xps [0 9 10] [.98 .01 .01] fixed
    agg Dthick 1 claim sev dhistogram xps [0 1 90] [.98 .01 .01] fixed
''')
port.update(bs=1, log2=8, remove_fuzz=True)

c:\users\steve\anaconda3\envs\smve37\lib\site-packages\numpy\core\fromnumeric.py:61: FutureWarning: Series.nonzero() is deprecated and will be removed in a future version.Use Series.to_numpy().nonzero() instead
  return bound(*args, **kwds)
c:\s\telos\python\aggregate_project\aggregate\port.py:1324: RuntimeWarning: divide by zero encountered in true_divide
  index_inv = 1.0 / np.array(self.density_df.index)

In [3]:
port.q(0.98, kind='lower'), port.q(0.98, kind='upper')

(9.0, 10.0)

In [4]:
port.q_temp

         loss  loss_s
F
0.0000    0.0     0.0
0.9604    0.0     1.0
0.9702    1.0     9.0
0.9800    9.0    10.0
0.9899   10.0    11.0
0.9900   11.0    90.0
0.9998   90.0    99.0
0.9999   99.0   100.0
1.0000  100.0   100.0
1.0000  100.0   100.0